
  <div id="feed-box">

    <div class="like">
      {{#favourite}}
      <strong>Your favourite</strong>
      {{/favourite}}
      <button> Toggle favourite </button>
    </div>

    <div class="content-box"><p>{{content}}</p></div>
    <div class="text-box"><p><strong>{{username}}</strong></p></div>
    
  </div>
 