
<div id="add_button">
<%= link_to "New Playlist", new_playlist_path %>
</div>
<br>


<% @playlists.each do |playlist|  %>
<div id="list_items">
<%= link_to playlist.name, playlist %>
</div>
<% end %>
