
    <h2><%= @playlist.name %></h2>

    Description: <%= @playlist.description %>
  

   

  <p><%= link_to 'Edit', edit_playlist_path(@playlist) %> |
  <%= link_to 'Destroy', @playlist, method: :delete, data: {confirm: 'Are you sure?'} %></p>
