
    <h2><%= @playlist.name %></h2>

    Description: <%= @playlist.description %>


  
<% if user_signed_in? && (current_user.admin? || current_user.playlist_ids.include?(@playlist.id))%>

  <p><%= link_to 'Edit', edit_playlist_path(@playlist) %> |
  <%= link_to 'Destroy', @playlist, method: :delete, data: {confirm: 'Are you sure?'} %></p>
<% end -%>