<h1>Cookbooks</h1>

<p><%= link_to "Add book", new_book_path %></p>

<ul>
		<% @books.each do |book|  %>
		<li>
			<h3><%= link_to book.title, book %></h3>
			<p><%= book.chef %></p>
			

		</li>	
		<% end %>
</ul>