<h2>Cookbooks</h2>
<div id="add_item">
<h4><%= link_to "+ Add book", new_book_path %></h4>
</div>

		<% @books.each do |book|  %>
		<div id="image_item_box">
			<h4><%= link_to book.title, book %><br>
      <%= image_tag book.image %></h4>
			By <%= book.chef %>
   </div>
    

			

	
		<% end %>
