<h2>Cookbooks</h2>

<h4><%= link_to "+ Add book", new_book_path %></h4>

<ul>
		<% @books.each do |book|  %>
		<li>
			<h3><%= link_to book.title, book %></h3>
      <p><%= image_tag book.image %>
        <br>
			By <%= book.chef %></p>
    

			

		</li>	
		<% end %>
</ul>