<div id="left_image"><h2>Ingredients</h2></div>
<div id="add_item">
<h4><%= link_to "+ Add Ingredients", new_ingredient_path %></h4>
</div>

    <% @ingredients.each do |ingredient|  %>
   <div id="image_item_box">
      <h3><%= link_to ingredient.name, ingredient %></h3>
      <p><%= image_tag ingredient.image %>
</p>
</div>
    

      

   
    <% end %>
