<h1>Recipes</h1>

<p><%= link_to "Add recipe", new_recipe_path %></p>

<ul>
    <% @recipes.each do |recipe|  %>
    <li>
      <h3><%= link_to recipe.name, recipe %></h3>
      <p><%= recipe.course %></p>
      

    </li> 
    <% end %>
</ul>