<h2>Recipes</h2>

<h4><%= link_to "+ Add recipe", new_recipe_path %></h4>

<ul>
    <% @recipes.each do |recipe|  %>
    <li>
      <h3><%= link_to recipe.name, recipe %></h3>
      <p><%= image_tag recipe.image %><br>
          <%= recipe.course %></p>
      

    </li> 
    <% end %>
</ul>