<div id="nav_bar">

    <h3>
    <%= link_to 'Home', books_path %>
    <%= link_to 'Books', books_path %>
    <%= link_to 'Recipes', recipes_path %>
    <%= link_to 'Ingredients', ingredients_path %></h3>
</div>
	