<div id="nav_bar">

    <h4 id="nav_bar"><%= link_to 'Books', books_path %></h4></div>
    <h4 id="nav_bar"><%= link_to 'Recipes', recipes_path %></h4></div>
    <h4 id="nav_bar"><%= link_to 'Ingredients', ingredients_path %></h4></div>
</div>
	