
  <div id="feed-box">

    <div class="like">
     {{#favourite}}
      <strong>Your favourite</strong>
      {{/favourite}}
      <button> Toggle favourite </button>
    </div>


<div class="content-box"><p><h2>{{course}}</h2></p></div>
<div class="text-box"><p>{{description}}</p></div>
<div class="content-box"><p><h2>{{username}}</h2></p></div>

