<h2>Artists</h2>
<div id="add_button">
<%= link_to "Add Artists", new_artist_path %>
</div>
<br>

<% @artist.each do |artist|  %>
<div id="list_items">
<%= link_to artist.name, artist  %>
</div>
<% end %>
